.addqbtn {
  width: 170px;
  height: 50px;
  border-radius: 6px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 112.5% */
  border: none;
}

.tableheader {
  color: #152536;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.addqformclose {
  color: white;
  border: none;
}

.addqformadd {
  color: #fff;
  border: none;
}

.updateqformupdate {
  color: #fff;
  border: none;
}

.archiveqformarchive {
  color: #fff;
  border: none;
}
