

.card {
    background-color: #f5f5f5;
    padding-top: 25px;
    padding-bottom: 25px;
}

.cardTitle {
    font-size: 15px;
    color: var(--agapaint-blue);
}

.cardBody {
    font-size: 30px;
    font-weight: bold;
}

.percentGreen {
    color: green;
}

.percentRed {
    color: red;
}

.generateButton {
    color: white;
    font-weight: 500;
    background-color: var(--agapaint-yellow);
    border: none;
    font-size: 1.2em;
    padding: 10px 20px;
}

.generateButton:hover {
    background-color: var(--agapaint-yellow);
    color: white;
}

.datePicker {
    width: 120px;
    padding: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.yearPicker {
    width: 120px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}