.topHeader {
    background-image: url("../public/assets/img/headerbg.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    padding: 0;
    margin: 0;
    padding-top: calc(12.5em + 3vw);
  }
  
  .h1Top {
    color: white;
    font-size: calc(2em + 3vw);
    text-align: left;
    font-weight: 800;
  }
  
  .p {
    color: white;
    font-size: calc(0.75em + 1vw);
  }
  
  .yellow {
    color: var(--agapaint-yellow);
  }
  
  button.bookBtn {
    background-color: var(--agapaint-yellow) !important;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: calc(0.3em + 1vw);
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;
    margin-right: 18px;
  }
  
  button.learnBtn {
    background: none !important;
    color: var(--agapaint-yellow);
    padding: 10px 20px;
    border: 2px solid var(--agapaint-yellow);
    border-radius: 10px;
    font-size: calc(0.3em + 1vw);
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;
    margin-right: 18px;
  }
  
  button.bookBtn:hover {
    background-color: #FFCE46 !important;
    color: black;
    transition: transform 0.5s;
  }
  
  button.learnBtn:hover {
    background-color: #ffc72c !important;
    color: black !important;
    border: 2px solid black;
  }
