.background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
  background-image: url("/public/assets/img/faqbg.png");
  object-fit: cover;
  padding-top: 150px; //para di umilalim ung text sa nav
  padding-bottom: 150px; 
}

.faqtitle {
  color: var(--Orenz, #f1b038);
  text-align: center;
  font-size: 75px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -2.25px;
  padding-bottom: 71px;
}

.card {
  --bs-accordion-btn-bg: #242322;
  --bs-accordion-btn-color: #f1b038;
  --bs-accordion-border-color: none;
  --bs-accordion-active-bg: #242322;
  --bs-accordion-active-color: #f1b038;
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-border-radius: 8px;
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23ffc107' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23fefefe' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");
  margin: auto;
  margin-bottom: 14px;
}

.cardtitle {
  color: var(--Orenz, #f1b038);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 28.8px */
}

.cardbody {
  color: var(--Orenz, #fefefe);
  background-color: #242322;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 25.2px */
  align-self: stretch;
  padding-left: 24px;
}

//mobile view

@media screen and (max-width: 768px) {
  .faqtitle {
    font-size: 50px;
    padding: 48px;
  }

  .card {
    margin: auto;
    margin-bottom: 14px;
  }

  .cardtitle {
    font-size: 20px;
  }

  .cardbody {
    margin: auto;
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .faqtitle {
    font-size: 40px;
    padding: 24px;
  }

  .card {
    margin: auto;
    margin-bottom: 10px;
  }

  .cardtitle {
    font-size: 16px;
  }

  .cardbody {
    margin: auto;
    font-size: 14px;
  }
}
