.footerContainer {
    background-image: url("/public/footerbg.png");
    background-size: cover; 
    background-position: center; 
  }

.footerWhite {
    color: white;
}

.footerYellow {
    color: #FFC72C;
}

.pad {
    padding: 60px;
}
