.footerContainer {
  background-image: url("/public/footerbg.png");
  background-size: cover;
  background-position: center;
}

.footerWhite {
  color: white;
}

.footerYellow {
  color: var(--agapaint-yellow);
}

.pad {
  padding: 60px;
}
