.background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #ffffff;
  background-image: url("/public/assets/img/signupbg.png");
  height: 100vh;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
